
.modal-footer {
    display: flex;
    justify-content: center;
}

.custom-control-label:before{
    background-color:red;
}

.custom-switch .custom-control-label::after {
    background-color: white;
}

p {
    margin: 0;
    padding: 0;
}

.estatus {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-size: 11px;
    color: #0f4c42
}

.badge {
    font-size: 11px;
}
