/* Acomoda los datos de los parrafos de la tabla*/
p {
    margin: 0;
    padding: 0;
}


.estatus {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-size: 11px;
    color: #0f4c42
}

.de{
    font-size: 12px;
}
