.requeridos {
    font-size: 12px;
    letter-spacing: 0.5px;
	color:  rgb(233, 30, 99);
}

label.titulo-dato {
    margin-top: 8px;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 0.5px;
    display: block;
    color: #235B4E;
    font-weight: 600;
}

span.valor-dato {
    font-weight: 600;
    text-transform: uppercase;
}

input.error,  select.error, textarea.error, .tox-tinymce.error {
    border-color: #F64E60;
}

label.error, label.is-invalid, label small.error {
    font-size: 0.9rem;
    font-weight: 400;
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    color: #F64E60;
}

.font-size-8 {
    font-size: 8px;
}

.font-size-9 {
    font-size: 9px;
}

.font-size-10 {
    font-size: 10px;
}

.select2.select2-container.select2-container--default {
    width: 100% !important;
}

.select2-selection.select2-selection--single.is-invalid {
    border-color: #F64E60;
}

.select2-selection.select2-selection--single.is-valid {
    border-color: #1BC5BD;
}

.normalizar-texto {
    text-transform: uppercase !important;
}

.select2-search__field, .select2-results, .select2-selection__rendered {
    text-transform: uppercase !important;
}

.table-row-redirect > tbody tr {
    cursor: pointer;
}

/* Aside Menú */
.aside-menu .menu-nav > .menu-item.menu-item-active > .menu-heading .menu-text, .aside-menu .menu-nav > .menu-item.menu-item-active > .menu-link .menu-text {
    color: #9F2241 !important;
}

.aside-menu .menu-nav > .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-heading .menu-text, .aside-menu .menu-nav > .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-link .menu-text {
    color: #9F2241 !important;
}

.aside-menu .menu-nav > .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-heading .menu-text, .aside-menu .menu-nav > .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-link .menu-text {
    color: #9F2241 !important;
}

.aside-menu .menu-nav > .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-heading .menu-icon.svg-icon svg g [fill], .aside-menu .menu-nav > .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-link .menu-icon.svg-icon svg g [fill] {
    -webkit-transition: fill 0.3s ease;
    transition: fill 0.3s ease;
    fill: #9F2241 !important;
}

.aside-menu .menu-nav > .menu-item.menu-item-active > .menu-heading .menu-icon.svg-icon svg g [fill], .aside-menu .menu-nav > .menu-item.menu-item-active > .menu-link .menu-icon.svg-icon svg g [fill] {
    -webkit-transition: fill 0.3s ease;
    transition: fill 0.3s ease;
    fill: #9F2241 !important; 
}

.aside-menu .menu-item:hover > .menu-link .menu-icon i {
    color: #9F2241 !important;
}

.aside-menu .menu-item .menu-link .menu-icon .icon-active {
    color: #9F2241 !important;
}

.aside-menu .menu-item .menu-link .menu-icon i {
    color: #9F2241 !important;
}

.aside-menu .menu-item .menu-link .menu-icon.svg-icon svg g [fill] {
    -webkit-transition: fill 0.3s ease;
    transition: fill 0.3s ease;
    fill: #9F2241 !important; 
}
/* End Aside Menú */

.icon-finanzas {
    color: #235B4E !important;
}

.symbol-light-finanzas {
    background-color: rgba(35, 91, 78, .1) !important;
    color: #235B4E !important;
}

.breadcrumb .breadcrumb-item.active i, .breadcrumb .breadcrumb-item.active a, .breadcrumb .breadcrumb-item:hover i, .breadcrumb .breadcrumb-item:hover a {
    -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;
    color: #235B4E !important;
} 

/* Mensaje en remover archivo en DROPZONE */
.dropzone.dropzone-default .dz-remove {
    font-size: 14px !important;
}

.alert-custom {
    font-size: 15px !important;
}

/* Bootstrap table */
.bootstrap-table .fixed-table-toolbar .search {
    margin-top: 0px !important;
}

.bootstrap-table .fixed-table-pagination > .pagination-detail {
    margin-bottom: 0px !important;
}